body
{
margin: 0; padding: 0;
/*overflow:hidden;*/
font-family:Comic Sans MS
}

#slider-vertical
{
height:541px;
margin-right:5px;
margin-left:5px;
display:inline;
margin-top:13px;
float:left;
}

img
{
	position:relative;
	top:0px;
	z-index:-1;
}

#controls
{
	text-align:center;
}

#score
{
	text-align:center;
}

.selected
{
	background-color:lightblue;
}